@namespace PreMatriculasParanoa.Web.Admin.Shared.Components.Loading

<div style="height:100%;width:100%;margin:0;position:fixed;">
    <div class="mud-wasm"></div>
    <div class="mud-wasm" style="animation-direction:alternate-reverse;animation-duration:4s;"></div>
    <div class="mud-wasm" style="animation-duration:5s;"></div>
    <div class="mud-wasm-cont ">
        <h1 style="color: #a097fb; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            SISTEMA PRÉ MATRÍCULAS
            <br />
            <small style="font-size: 12pt; color: #594ae2;">
                CARREGANDO ...
            </small>
        </h1>
    </div>
</div>
